<h1>Employee card</h1>

<div class="row employeeCard">
    <div class="col-md-2 col-xs-2">
        <div class="row">
            <div class="col-md-12 col-xs-12"><img src="{{employeeCart.photoFile}}" alt=""></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 loadedBlock">
                <p><button type="button" class="btn btn-primary" ng-click="changePhoto()">Change photo</button></p>
                <div ng-if="isSelectPhoto">
                    <p> <input fileread="loadedPhoto" type="file" name="img"></p>
                    <p><button type="button" class="btn btn-primary" ng-click="loadPhoto()">Load photo</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-6">
        <ul>
            <li>{{employeeCart.name}}</li>
            <li>{{employeeCart.phone}}</li>
        </ul>
    </div>
</div>
